In [24]:
import pandas as pd



first = pd.DataFrame({
    "first":[1,2,3,4,6,7],    
})

second = pd.DataFrame({
    "second":[1,2,3,4,6,7],    
})

third = pd.DataFrame({
    "third":[1,2,3,4],    
    "fourth":[3,5,6,7],    
})

df_list =[first,second,third]

In [22]:
merged = pd.DataFrame();


s = pd.concat(df_list, axis=1)

s.head(10)

   first  second  third  fourth
0      1       1    1.0     3.0
1      2       2    2.0     5.0
2      3       3    3.0     6.0
3      4       4    4.0     7.0
4      6       6    NaN     NaN
5      7       7    NaN     NaN