In [101]:
import numpy as np
import pandas as pd

from external_lib.evaluation_function import calc_haversine,evaluate_function

from lib.io import load_pickle_data,save_data_as_csv_and_pkl
from lib.noglobal import noglobal

from external_lib.phone_mean_prediction import phone_mean_prediction
from external_lib.outlier_correlation import outlier_correlation_2sigma
from external_lib.evaluation_function import evaluate_function,calc_haversine
from external_lib.merge_start_end_points import merge_start_end_points

In [48]:
train_path =  "/work/data/input/selfmade_dataset/baseline_with_derived_data_v5/train.pkl"
train_df = load_pickle_data(train_path)

test_path =  "/work/data/input/selfmade_dataset/baseline_with_derived_data_v5/test.pkl"
test_df = load_pickle_data(test_path)

In [11]:
display(train_df["dist"].mean())
display(evaluate_function(train_df,"dist"))

3.8468553394627825

5.287859611805194

In [18]:


phone_list =  [];

train_df["phoneName"] = train_df["phone"].apply(lambda x:x.split("_")[1])

train_df.groupby("phoneName")["dist"].describe().T

phoneName,Mi8,Pixel4,Pixel4Modded,Pixel4XL,Pixel4XLModded,Pixel5,SamsungS20Ultra
count,14169.000000,48153.000000,6927.000000,27710.000000,8388.000000,11791.000000,14209.000000
mean,3.781629,3.929690,2.801634,2.821935,2.253373,3.363772,7.481061
std,87.754586,14.556373,1.969832,10.116970,2.976209,6.970385,8.559322
min,0.001338,0.011203,0.054868,0.010101,0.021444,0.011386,0.039660
25%,1.296996,1.121951,1.463542,0.956195,1.137832,1.357711,3.047261
50%,2.044470,1.885689,2.234017,1.666033,1.819377,2.137115,5.149390
75%,2.929565,3.221244,3.689756,2.884074,2.667066,3.832652,8.464233
max,8340.257976,1599.570433,23.651914,238.779207,103.583319,653.703379,200.232033

In [166]:
@noglobal()
def get_removedevice(arg_input_df:pd.DataFrame,device:str) -> pd.DataFrame:
    input_df = arg_input_df.copy()
    input_df["index"] = input_df.index
    
    input_df = input_df.sort_values('millisSinceGpsEpoch')
    input_df.index = input_df['millisSinceGpsEpoch'].values
    
    
    output_df = pd.DataFrame()     
    for _, subdf in input_df.groupby("collectionName"):
        
        phone_list = subdf["phoneName"].unique()
        
        
        if (len(phone_list) == 1) or (not device in phone_list):            
            output_df = pd.concat([output_df, subdf])            
            continue
            
        
        print(phone_list)
        original_df = subdf.copy()
        
        
        phone_filter = subdf["phoneName"] == device        
        subdf.loc[phone_filter,"latDeg"] = np.nan;
        subdf.loc[phone_filter,"lngDeg"] = np.nan;        
        subdf = subdf.interpolate(method='index', limit_area='inside')
        
        not_interpolate_points = subdf["latDeg"].isnull()
        
        subdf.loc[not_interpolate_points,"latDeg"] = original_df.loc[not_interpolate_points,"latDeg"].values
        subdf.loc[not_interpolate_points,"lngDeg"] = original_df.loc[not_interpolate_points,"lngDeg"].values
        
        output_list.append(subdf)
        
    ret_df = pd.concat(output_list,axis=False);
    ret_df.index = ret_df["index"].values
    ret_df.sort_index()
    
    del ret_df["index"]
    print(ret_df.shape[0])
    return ret_df

In [165]:
#test_df.head(3)

#train_remove = train_df


train_remove = get_removedevice(train_df, 'SamsungS20Ultra')
#train_remove = get_removedevice(train_remove, 'Mi8')
train_remove["dist"] = calc_haversine(train_remove["latDeg"],train_remove["lngDeg"],train_df["latDeg_gt"],train_df["lngDeg_gt"])
train_df["dist"] = calc_haversine(train_df["latDeg"],train_df["lngDeg"],train_df["latDeg_gt"],train_df["lngDeg_gt"])

display(train_remove.groupby("phoneName")["dist"].describe().T)
display(train_df.groupby("phoneName")["dist"].describe().T)
print(evaluate_function(train_remove,"dist"))

['SamsungS20Ultra' 'Pixel4XL']
['Pixel4Modded' 'SamsungS20Ultra' 'Pixel4' 'Pixel5']
['Pixel4' 'SamsungS20Ultra']
['Pixel4' 'Pixel5' 'SamsungS20Ultra']
['SamsungS20Ultra' 'Pixel4']
['Pixel5' 'Pixel4' 'SamsungS20Ultra']
['Pixel4' 'SamsungS20Ultra']
131347

phoneName,Mi8,Pixel4,Pixel4Modded,Pixel4XL,Pixel4XLModded,Pixel5,SamsungS20Ultra
count,14169.000000,48153.000000,6927.000000,27710.000000,8388.000000,11791.000000,14209.000000
mean,3.781629,3.929690,2.801634,2.821935,2.253373,3.363772,7.188222
std,87.754586,14.556373,1.969832,10.116970,2.976209,6.970385,17.746038
min,0.001338,0.011203,0.054868,0.010101,0.021444,0.011386,0.020917
25%,1.296996,1.121951,1.463542,0.956195,1.137832,1.357711,1.889194
50%,2.044470,1.885689,2.234017,1.666033,1.819377,2.137115,3.550410
75%,2.929565,3.221244,3.689756,2.884074,2.667066,3.832652,7.429414
max,8340.257976,1599.570433,23.651914,238.779207,103.583319,653.703379,1250.672284

phoneName,Mi8,Pixel4,Pixel4Modded,Pixel4XL,Pixel4XLModded,Pixel5,SamsungS20Ultra
count,14169.000000,48153.000000,6927.000000,27710.000000,8388.000000,11791.000000,14209.000000
mean,3.781629,3.929690,2.801634,2.821935,2.253373,3.363772,7.481061
std,87.754586,14.556373,1.969832,10.116970,2.976209,6.970385,8.559322
min,0.001338,0.011203,0.054868,0.010101,0.021444,0.011386,0.039660
25%,1.296996,1.121951,1.463542,0.956195,1.137832,1.357711,3.047261
50%,2.044470,1.885689,2.234017,1.666033,1.819377,2.137115,5.149390
75%,2.929565,3.221244,3.689756,2.884074,2.667066,3.832652,8.464233
max,8340.257976,1599.570433,23.651914,238.779207,103.583319,653.703379,200.232033

5.173187304668507

In [113]:
original_train_df = tmp_train_df.copy()
store_ = tmp_train_df.copy()

In [115]:
original_train_df["dist"] = calc_haversine(original_train_df["latDeg"],original_train_df["lngDeg"],train_df["latDeg_gt"],train_df["lngDeg_gt"])
evaluate_function(original_train_df,"dist")

4.124047798393383

In [147]:
tmp_train_df = merge_start_end_points(train_df,merge_flag = True,kalman_flag = True)
tmp_train_df = outlier_correlation_2sigma(tmp_train_df)
tmp_train_df = phone_mean_prediction(tmp_train_df)


train_remove = get_removedevice(original_train_df, 'SamsungS20Ultra')
#train_remove = get_removedevice(train_remove, 'Mi8')

train_remove["dist"] = calc_haversine(train_remove["latDeg"],train_remove["lngDeg"],train_df["latDeg_gt"],train_df["lngDeg_gt"])
original_train_df["dist"] = calc_haversine(original_train_df["latDeg"],original_train_df["lngDeg"],train_df["latDeg_gt"],train_df["lngDeg_gt"])

display(train_remove.groupby("phoneName")["dist"].describe().T)
display(original_train_df.groupby("phoneName")["dist"].describe().T)

print(evaluate_function(train_remove,"dist"))
print(evaluate_function(original_train_df,"dist"))

phoneName,Mi8,Pixel4,Pixel4Modded,Pixel4XL,Pixel4XLModded,Pixel5,SamsungS20Ultra
count,14169.000000,48153.000000,6927.000000,27710.000000,8388.000000,11791.000000,14209.000000
mean,3.502993,3.078504,2.020589,2.195742,1.661580,2.600276,5.634231
std,36.386622,8.801307,3.419087,9.831880,1.443926,5.422750,7.823396
min,0.009842,0.006513,0.013613,0.009770,0.023044,0.014800,0.037506
25%,1.115670,0.962236,1.076030,0.798486,0.889838,1.168290,1.800832
50%,1.745042,1.591888,1.679081,1.335042,1.424893,1.835450,3.343291
75%,2.560892,2.737039,2.418028,2.292267,2.113869,2.970442,6.388034
max,1784.651791,239.209011,111.043525,239.280104,41.642922,235.008778,205.107262

phoneName,Mi8,Pixel4,Pixel4Modded,Pixel4XL,Pixel4XLModded,Pixel5,SamsungS20Ultra
count,14169.000000,48153.000000,6927.000000,27710.000000,8388.000000,11791.000000,14209.000000
mean,3.502993,3.078504,2.020589,2.195742,1.661580,2.600276,6.401471
std,36.386622,8.801307,3.419087,9.831880,1.443926,5.422750,7.337952
min,0.009842,0.006513,0.013613,0.009770,0.023044,0.014800,0.021212
25%,1.115670,0.962236,1.076030,0.798486,0.889838,1.168290,2.588107
50%,1.745042,1.591888,1.679081,1.335042,1.424893,1.835450,4.467811
75%,2.560892,2.737039,2.418028,2.292267,2.113869,2.970442,7.273017
max,1784.651791,239.209011,111.043525,239.280104,41.642922,235.008778,190.131352

3.9768169141103806
4.124047798393383

In [140]:
mi8_df = original_train_df[original_train_df["phoneName"] == "Mi8"]

value_list = [];
key_list = [];
for key,each_df in mi8_df.groupby("phone"):
    value_list.append(each_df["dist"].mean())
    key_list.append(key)
    
    #print(evaluate_function(each_df,"dist"))

In [146]:
import numpy as np


print(np.mean(value_list))
print(np.std(value_list))
print("-------------------")
print(value_list)

3.5383254174070857
2.911740739073677
-------------------
[2.0502411596116272, 9.288738666740688, 1.6616259725105644, 1.5689598852276705, 7.756831283661112, 2.0458484643462413, 1.664241064074542, 2.2701168430842418]